.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.about-page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-page section {
  margin-bottom: 20px;
  text-align: center;
}

.about-page button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 10px 10px 10px;
}

.about-page button:hover {
  background-color: #0056b3;
}
