.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.home__title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.home__search-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.home__description,
.home__search-description {
  margin-bottom: 10px;
}

.home__search-filter {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 50px;
}

.home__search-filter > * {
  flex: 1;
  box-sizing: border-box;
}

.home__button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.home__button:hover {
  background-color: #0056b3;
}

.home__subtitle {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: normal;
  font-style: italic;
}

.home__search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 20px;
}

.home__result-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .home__search-filter {
    flex-direction: column;
    gap: 20px;
  }
}
