.search-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-bar select,
.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.search-bar img {
  margin-right: 8px;
}
