.playground-card {
  background: #ffffff;
  color: #000000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  text-align: center;
}

.playground-card__image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.playground-card__title {
  margin-top: 0;
}

.playground-card__address {
  margin-top: 10px;
}

.playground-card__location {
  margin-top: 10px;
}
